<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reynaldiwijaya.intropeksi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"/>

        <activity android:name=".FirstFloorActivity" />
        <activity android:name=".SecondFloorActivity" />
        <activity android:name=".ThirdFloorActivity" />
        <activity android:name=".FourthFloorActivity" />
        <activity android:name=".FifthFloorActivity" />
        <activity android:name=".SixthFloorActivity" />
        <activity android:name=".PuasActivity" />
        <activity android:name=".SplashScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CoverActivity"></activity>
    </application>

</manifest>